/* Commons */
.modal-footer{
    padding-right: 0;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align:center;
}

#subtitleHeading{
    color: #343a40ab;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* tipo.html */
.inputSelectTypes {
    width: 100%;
    text-align: center;
}

#labelTipos {
    font-weight: 600;
    margin-bottom: 20px;
}

#buttonSearchTypes{
    margin-top: 15px;
}

/* default.html */
.mainDefault{
    margin-top: 25px;
}

/* Data Table CSS */
.dataTables_filter{
    padding-top: 5px;
}

#example_wrapper {
    margin-top: 20px;
}

/* Navbar */
.specialNavItem{
    padding-right: 10px;
}

.nav-item{
    margin-right: 0px;
}

#containerAdvancedSearch{
    margin-top: 25px;
}

.form-inline{
    width: 100% !important;
}

#titleAdvancedSearch {
    text-align: center;
}

.selectFormGroup{
    margin-right: 15px;
    flex: 1 !important;
}

.selectFormGroup select{
    width: 100% !important;
}

.dateFormGroup {
    padding-right: 20px;
    display: inline;
    width: 50%;
}

.dateFormGroup input{
    width: 100% !important;
}

#divSearchButton{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.bootstrap-select button{
    color: white !important;
}

/* Essential to open bootstrap-select - Compatibility Bootstrap 4 */
.open > .dropdown-menu {
    display: block !important;
}
.div-button{
    display: inline !important;
    margin-top: 5px;
}